# Import Data

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to change the path if needed.)
raw_data = "C:/Users/cewar/Desktop/archive/watson_healthcare_modified.csv"

# Read the School Data and Student Data and store into a Pandas DataFrame
raw_data_df = pd.read_csv(raw_data)

# View df
raw_data_df.head()

,EmployeeID,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,...,RelationshipSatisfaction,StandardHours,Shift,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,1313919,41,No,Travel_Rarely,1102,Cardiology,1,2,Life Sciences,1,...,1,80,0,8,0,1,6,4,0,5
1,1200302,49,No,Travel_Frequently,279,Maternity,8,1,Life Sciences,1,...,4,80,1,10,3,3,10,7,1,7
2,1060315,37,Yes,Travel_Rarely,1373,Maternity,2,2,Other,1,...,2,80,0,7,3,3,0,0,0,0
3,1272912,33,No,Travel_Frequently,1392,Maternity,3,4,Life Sciences,1,...,3,80,0,8,3,3,8,7,3,0
4,1414939,27,No,Travel_Rarely,591,Maternity,2,1,Medical,1,...,4,80,1,6,3,3,2,2,2,2

# DF structure

In [2]:
print("The data set has {} rows and {} columns".format(raw_data_df.shape[0], raw_data_df.shape[1]))

The data set has 1676 rows and 35 columns

In [3]:
print(raw_data_df.keys())

Index(['EmployeeID', 'Age', 'Attrition', 'BusinessTravel', 'DailyRate',
       'Department', 'DistanceFromHome', 'Education', 'EducationField',
       'EmployeeCount', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'Shift',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

# Data types

In [4]:
raw_data_df.dtypes

EmployeeID                   int64
Age                          int64
Attrition                   object
BusinessTravel              object
DailyRate                    int64
Department                  object
DistanceFromHome             int64
Education                    int64
EducationField              object
EmployeeCount                int64
EnvironmentSatisfaction      int64
Gender                      object
HourlyRate                   int64
JobInvolvement               int64
JobLevel                     int64
JobRole                     object
JobSatisfaction              int64
MaritalStatus               object
MonthlyIncome                int64
MonthlyRate                  int64
NumCompaniesWorked           int64
Over18                      object
OverTime                    object
PercentSalaryHike            int64
PerformanceRating            int64
RelationshipSatisfaction     int64
StandardHours                int64
Shift                        int64
TotalWorkingYears            int64
TrainingTimesLastYear        int64
WorkLifeBalance              int64
YearsAtCompany               int64
YearsInCurrentRole           int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

In [5]:
raw_data_df.dtypes.value_counts()

int64     26
object     9
dtype: int64

In [6]:
# separate numerical variables and categorical values
int_vars = raw_data_df.columns[raw_data_df.dtypes != 'object']

print(int_vars)

Index(['EmployeeID', 'Age', 'DailyRate', 'DistanceFromHome', 'Education',
       'EmployeeCount', 'EnvironmentSatisfaction', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobSatisfaction', 'MonthlyIncome',
       'MonthlyRate', 'NumCompaniesWorked', 'PercentSalaryHike',
       'PerformanceRating', 'RelationshipSatisfaction', 'StandardHours',
       'Shift', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [7]:
# separate numerical variables and categorical values
obj_vars = raw_data_df.columns[raw_data_df.dtypes == 'object']

print(obj_vars)

Index(['Attrition', 'BusinessTravel', 'Department', 'EducationField', 'Gender',
       'JobRole', 'MaritalStatus', 'Over18', 'OverTime'],
      dtype='object')

# Integers

In [8]:
# Basic Personal Information
raw_data_df[["Age","DistanceFromHome", "Education"]].describe()

               Age  DistanceFromHome    Education
count  1676.000000       1676.000000  1676.000000
mean     36.866348          9.221957     2.907518
std       9.129126          8.158118     1.025835
min      18.000000          1.000000     1.000000
25%      30.000000          2.000000     2.000000
50%      36.000000          7.000000     3.000000
75%      43.000000         14.000000     4.000000
max      60.000000         29.000000     5.000000

In [9]:
# Employee Work History
raw_data_df[["NumCompaniesWorked", "TotalWorkingYears"]].describe()

       NumCompaniesWorked  TotalWorkingYears
count         1676.000000        1676.000000
mean             2.662291          11.338902
std              2.477704           7.834996
min              0.000000           0.000000
25%              1.000000           6.000000
50%              2.000000          10.000000
75%              4.000000          15.000000
max              9.000000          40.000000

In [10]:
# Employee Current Job
raw_data_df[["EmployeeCount", "JobInvolvement", "JobLevel", "StandardHours", "Shift", "TrainingTimesLastYear", "YearsAtCompany", "YearsInCurrentRole", "YearsWithCurrManager"]].describe()

,EmployeeCount,JobInvolvement,JobLevel,StandardHours,Shift,TrainingTimesLastYear,YearsAtCompany,YearsInCurrentRole,YearsWithCurrManager
count,1676.0,1676.000000,1676.000000,1676.0,1676.000000,1676.000000,1676.000000,1676.000000,1676.000000
mean,1.0,2.724940,2.066826,80.0,0.806086,2.805489,7.033413,4.264916,4.135442
std,0.0,0.714121,1.113423,0.0,0.855527,1.288431,6.098991,3.627456,3.559662
min,1.0,1.000000,1.000000,80.0,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.0,2.000000,1.000000,80.0,0.000000,2.000000,3.000000,2.000000,2.000000
50%,1.0,3.000000,2.000000,80.0,1.000000,3.000000,5.000000,3.000000,3.000000
75%,1.0,3.000000,3.000000,80.0,1.000000,3.000000,10.000000,7.000000,7.000000
max,1.0,4.000000,5.000000,80.0,3.000000,6.000000,40.000000,18.000000,17.000000

In [11]:
# Employee Finances
raw_data_df[["DailyRate", "HourlyRate", "MonthlyIncome", "MonthlyRate", "PercentSalaryHike"]].describe()

,DailyRate,HourlyRate,MonthlyIncome,MonthlyRate,PercentSalaryHike
count,1676.000000,1676.000000,1676.000000,1676.000000,1676.000000
mean,800.557876,65.470167,6516.512530,14287.019690,15.196897
std,401.594438,20.207572,4728.456618,7138.857783,3.646550
min,102.000000,30.000000,1009.000000,2094.000000,11.000000
25%,465.000000,48.000000,2928.250000,7993.000000,12.000000
50%,796.500000,65.500000,4899.000000,14269.500000,14.000000
75%,1157.000000,83.000000,8380.250000,20462.000000,18.000000
max,1499.000000,100.000000,19999.000000,26999.000000,25.000000

In [12]:
# Employee Satisfaction
raw_data_df[["EnvironmentSatisfaction", "JobSatisfaction", "WorkLifeBalance"]].describe()

       EnvironmentSatisfaction  JobSatisfaction  WorkLifeBalance
count              1676.000000      1676.000000      1676.000000
mean                  2.714797         2.738663         2.766110
std                   1.097534         1.104005         0.702369
min                   1.000000         1.000000         1.000000
25%                   2.000000         2.000000         2.000000
50%                   3.000000         3.000000         3.000000
75%                   4.000000         4.000000         3.000000
max                   4.000000         4.000000         4.000000

In [13]:
# Employee Satisfaction
raw_data_df[["PerformanceRating", "YearsSinceLastPromotion"]].describe()

       PerformanceRating  YearsSinceLastPromotion
count        1676.000000              1676.000000
mean            3.150358                 2.200477
std             0.357529                 3.229587
min             3.000000                 0.000000
25%             3.000000                 0.000000
50%             3.000000                 1.000000
75%             3.000000                 3.000000
max             4.000000                15.000000

# Objects

In [14]:
raw_data_df["Attrition"].value_counts()

No     1477
Yes     199
Name: Attrition, dtype: int64

In [15]:
raw_data_df["BusinessTravel"].value_counts()

Travel_Rarely        1184
Travel_Frequently     320
Non-Travel            172
Name: BusinessTravel, dtype: int64

In [16]:
raw_data_df["Department"].value_counts()

Maternity     796
Cardiology    531
Neurology     349
Name: Department, dtype: int64

In [17]:
raw_data_df["EducationField"].value_counts()

Life Sciences       697
Medical             524
Marketing           189
Technical Degree    149
Other                88
Human Resources      29
Name: EducationField, dtype: int64

In [18]:
raw_data_df["Gender"].value_counts()

Male      998
Female    678
Name: Gender, dtype: int64

In [19]:
raw_data_df["JobRole"].value_counts()

Nurse             822
Other             534
Therapist         189
Administrative    115
Admin              16
Name: JobRole, dtype: int64

In [20]:
raw_data_df["MaritalStatus"].value_counts()

Married     777
Single      522
Divorced    377
Name: MaritalStatus, dtype: int64

In [21]:
raw_data_df["Over18"].value_counts()

Y    1676
Name: Over18, dtype: int64

In [22]:
raw_data_df["OverTime"].value_counts()

No     1200
Yes     476
Name: OverTime, dtype: int64

# Missing values

In [23]:
raw_data_df.isnull().sum()

EmployeeID                  0
Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
Shift                       0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64